
body.oe_single_form .oe_single_form_container {
padding: 10px;
position: absolute;
left: 50%;
top: 50%;
width:500px;
margin-top: -200px;
margin-left: -200px;
}

.btn-primary {
color: #000;
background-color: #cdc2b8;
border-color: #357ebd;
}

a {
color: #cdc2b8;
text-decoration: none;
}
